.jfx-tab-pane .headers-region {
    -fx-background-color: #595959;
 }

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #595959;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #595959;
    -fx-stroke-width: 2pt;
}

.jfx-tab-pane .tab:selected{
    -fx-background-color: #595959;
}

.stepButton{
    -fx-background-color: #2196f3;
    -fx-background-radius: 40;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );*/
}

.line{
-fx-stroke-line-cap: butt;
-fx-stroke-dash-offset: 6;
-fx-stroke-dash-array: 2 2 2 2;
}
