.hbox_hamburger {
    -fx-background-color: #325BF5;
}

.jfx-hamburger StackPane{
    -fx-background-color: white;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #595959;
 }

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #595959;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #325BF5;
    -fx-stroke-width: 2pt;
}

.jfx-tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}

 .mini-menu:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 40;
    -fx-text-fill: grey;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


.openButton {
    -fx-background-color: #1565C0;
    -fx-background-radius: 40;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.refreshButton {
    -fx-background-color: #48b14b;
    -fx-background-radius: 40;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}


.hbox:hover {
    -fx-background-color: #EEEEEE;
}

.vbox:hover{
    -fx-min-width: 270;
}


.closeButton {
    -fx-background-color: #e53935;
    -fx-background-radius: 40;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.saveButton {
    -fx-background-color: #48b14b; /*old - #64DD17*/
     -fx-background-radius: 40;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
     -fx-text-fill: white;
 }

.openButton:hover, .closeButton:hover, .refreshButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.encodeButton {
    -fx-background-color: #2d68b9;
}

.decodeButton {
    -fx-background-color: #64DD17;
}

.stackPane {
    -fx-padding: 15;
    -fx-background-radius: 15;
    -fx-background-color:  #E0E0E0;
}

.text {
    -fx-min-height: 150;
}

.saveButton:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 40;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.jfx-slider .thumb{
   -fx-background-color: #2d68b9;
}

.jfx-snackbar-toast {
    -fx-background-color: #424242;
    -fx-text-fill: #fff;
    -fx-padding: 10 15;
}

